 <div class="breadcrubs-main page-width">
   <div class="breadcrubs">
  	 <ul
  	  class="space-x-2 text-sm {{ class }}"
  	  role="navigation"
  	  aria-label="breadcrumbs"  
  	>
  	  <li>
  	    <a title="Home" href="{{- shop.url -}}" class="text-gray-500">
  	      <span >Home</span>
  	    </a>
  	  </li>
  	  {% if template contains 'page' %}
  	    <!-- PAGE -->
  	    <span class="arrow" aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	    <li>
  	      <a href="{{ page.url }}" class="text-gray-500" >
  	        <span >{{ page.title }}</span>      
  	      </a>
  	    </li>
  	  {% elsif template contains 'product' %}
  	    <!-- PRODUCT -->
  	    {% if product.metafields.custom.collection_breadcrumb != blank %}
  	      {%- assign collection_obj = collections[product.metafields.custom.collection_breadcrumb] -%}
  	      <span aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	      <li class="whitespace-nowrap">
  	        <a href="{{- collection_obj.url -}}" class="text-gray-500 whitespace-nowrap" >
  	          <span >{{- collection_obj.title -}}</span>        
  	        </a>
  	      </li>
  	    {% endif %}
  	    <span class="arrow" aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	    <li class="overflow-hidden text-ellipsis whitespace-nowrap">
  	      <a href="{{ product.url }}" class="overflow-hidden text-gray-800 text-ellipsis whitespace-nowrap" >
  	        <span class="overflow-hidden text-ellipsis whitespace-nowrap" >{{ product.title }}</span>      
  	      </a>
  	    </li>
  	  {% elsif template contains 'collection' and collection.handle %}
  	    <!-- COLLECTION -->
  	    {% if collection.metafields.collection.parent_collection != blank %}
  	      {%- assign collection_obj = collections[collection.metafields.collection.parent_collection] -%}
  	      <span class="arrow" aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	      <li class="whitespace-nowrap">
  	        <a href="{{- collection_obj.url -}}" class="text-gray-500 whitespace-nowrap">
  	          <span >{{- collection_obj.title -}}</span>        
  	        </a>
  	      </li>
  	    {% endif %}
  
  	    <span class="arrow" aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	    {% if current_tags %}
  	      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  	      <li>
  	        <a href="{{ collection.url }}" class="text-gray-800">
  	          <span >{{ collection.title }}</span>        
  	        </a>
  	      </li>
  	      <span class="arrow" aria-hidden="true">{% render 'breadcrumbs-arrow' %}</span>
  	      {{ current_tags | join: ' + ' }}
  	    {% else %}
  	      <li>
  	        <a href="{{ collection.url }}" class="text-gray-800" >
  	          <span >{{ collection.title }}</span>        
  	        </a>
  	      </li>
  	    {% endif %}
  
  	    <!-- BLOG -->
  	  {% elsif template == 'blog' %}
  	    <span class="arrow" aria-hidden="true"> {% render 'breadcrumbs-arrow' %} </span>
  	    {% comment %}
  	      {% if current_tags %}
  	        <li >
  	          <a href="{{ blog.url }}" class="text-gray-800" >
  	            <span >{{ blog.title }}</span>          
  	          </a>
  	        </li>
  	        <span aria-hidden="true">/</span>
  	        {{ current_tags | join: ' + ' }}
  	      {% else %} {% endif %}
  	    {% endcomment %}
  	    <li>
  	      <a href="{{ blog.url }}" class="text-gray-800" >
  	        <span >{{ blog.title }}</span>      
  	      </a>
  	    </li>
  
  	    <!-- ARTICLE -->
  	  {% elsif template == 'article' %}
  	    <span class="arrow" aria-hidden="true"> {% render 'breadcrumbs-arrow' %} </span>
  	    <li>
  	      <a href="{{ blog.url }}" >
  	        <span >{{ blog.title }}</span>        
  	      </a>
  	    </li>
  	    <span class="arrow" aria-hidden="true"> {% render 'breadcrumbs-arrow' %} </span>
  	    <li >
  	      <a href="{{ article.url }}" class="text-gray-800" >
  	        <span >{{ article.title }}</span>        
  	      </a>
  	    </li>
  	  {% elsif template == 'search' %}
  	    <span class="arrow" aria-hidden="true"> {% render 'breadcrumbs-arrow' %} </span>
  	    <li>
  	      <a href="{{ routes.search_url }}" class="text-gray-800" >
  	        <span >Search</span>        
  	      </a>
  	    </li>
  	  {% else %}
  	    <span class="arrow" aria-hidden="true"> {% render 'breadcrumbs-arrow' %} </span>
  	    <li>
  	      <a href="{{ page.url }}" class="text-gray-800">
  	        <span >{{ page_title }}</span>        
  	      </a>
  	    </li>
  	  {% endif %}
  	</ul>
  </div>
 </div>
<style>
  .breadcrubs-main.page-width {
      width: 100%;
  }
  .breadcrubs-main.page-width .breadcrubs {
      display: block;
      width: 100%;
      text-align: left;
      clear: both;
      box-sizing: border-box;
      margin-bottom: 1rem;
      float: left;
  }
  .breadcrubs ul {
      padding: 0;
      flex-wrap: wrap;
      margin: 0;
      list-style-type: none;
      display: flex;
      column-gap: 10px;
      text-transform: uppercase;
  }
  .breadcrubs li a {
      color: #000000;
      font-size: 12px;
      line-height: 18px;
      text-decoration: none;
      font-family:var(--roboto-regular);
      font-weight: 400;
  }
  .breadcrubs ul span {
      color: #000000;
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      text-transform: capitalize;
  }
  /* .breadcrubs {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
  } */
  .main-breadcrumbs-container {
      width: 100%;
      padding: 18px 0px;
      background: #F6F6F6;
      display: block;
  }
  .template--product .breadcrubs ul {
      padding: 0 0 0 1rem;
  }
  @media screen and (max-width: 1024px){
    .main-breadcrumbs-container {
        padding: 12px 0px;
    }
    .breadcrubs ul span {
        font-size: 14px;
    }
  }
</style>