<div class="product-compare-results-card-main" data-module="product-compare-results-card">
    <div class="product-card-wrapper" data-product>
      <a href="{{- product.url -}}" class="compare-products-image">
        {%- for image in product.images limit: 2 -%}
          {%- if forloop.first -%}
            <div class="products-image-1">
              <img clas="products_images" src="{{ image | image_url }}" alt="{{ product.title }}">
            </div>
          {%- endif -%}
          {%- if forloop.last -%}
            <div class="products-image-2">
              <img class="products_images" src="{{ image | image_url }}" alt="{{ product.title }}">
            </div>
          {%- endif -%}
        {%- endfor -%}
      </a>
  
      <div class="card-information" data-product-content>
        <h3 class="card__heading h5">
          <a href="{{- product.url -}}" class="full-unstyled-link">{{- product.title -}}</a>
        </h3>
  
        <div class="price__container">
          {%- if product.compare_at_price > product.price -%}
            <div class="price__regular">
              <span class="price-item price-item--regular">{{- product.price | money -}}</span>
            </div>
            <div class="product-compare-price">
              <span class="price-item price-item--last">{{- product.compare_at_price | money -}}</span>
            </div>
          {%- else -%}
            <div class="font-normal text-black">{{- product.price | money -}}</div>
          {%- endif -%}
        </div>
  
        <div class="product-description">
          <p>
            {{ product.description | strip_html | truncate: 250 }}
            <a href="{{- product.url -}}" class="product-description-read-more">Read more</a>
          </p>
        </div>
      </div>
  
      <a href="{{- product.url -}}" class="products-view">View Product</a>
    </div>
  </div>
  